{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- <p>{{order_detail}}</p> -->
<div style="margin:100px">
<h2 style="color:hsl(169deg 74% 41% / 83%);font-size:46px;">Delivered at :-</h2>
<p>Address : {{order_detail.0.1}}</p>
<p>City : {{order_detail.0.2}}</p>
<p>State : {{order_detail.0.3}}</p>
<p>ZipCode : {{order_detail.0.4}}</p>
<h2 style="color:hsl(169deg 74% 41% / 83%);font-size:46px;">Payment Details :-</h2>
<p>Card No. : {{order_detail.0.7}}</p>
</div>
<style>
    p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #3ea9d2;
    font-size: 25px;
    margin-left: 200px;
    /* margin-top: 30px; */
}
</style>
{% endblock content %}