{% extends 'main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  style="margin-bottom: 10px;" class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Back to menu</a>				<span>Your All Pending Orders</span>

            </div>

                {% for order in orders %}



			<br>
            <br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
					<!-- <div style="flex:1"><strong>Remove</strong></div> -->
				</div>
                {% for food in order.0 %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{food.0.image}}"></div>
					<div style="flex:2"><p>{{food.0.food_name}}</p></div>
					<div style="flex:1"><p>Rs.{{food.0.price|floatformat:2}}</p></div>
					
					<div style="flex:1">
						<p class="quantity">{{food.1}}</p>
					</div>
					<div style="flex:1"><p>Rs.{{food.2}}</p></div>
					
				</div>
				{% endfor %}

                <div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong></strong></div>
					<div style="flex:1"><strong>Total Quantity: {{order.2}}</strong></div>
					<div style="flex:1"><strong>Total Price: {{order.1}}</strong></div>
					<!-- <div style="flex:1"><strong>Remove</strong></div> -->
				</div>
				<div>
					<a href="{% url 'viewdetailscustomer' order.3 %}" class="btn btn-success" style="margin-left: 84%;">View Details</a>
				</div>
            </div>
{% endfor %}

			</div>
        </div>
		<style>
			span{
				margin-left: 225px;
			font-size: 32px;
			color: #e44141;
			font-weight: 100px;
			text-shadow: 10px;
			text-shadow: -1px -1px #2d4220;
			font-weight: bold;
			}
		</style>
	
{% endblock content %}